@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import "sass/variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $body-text;

    .container {
        background-color: $body-background;
        width: 100%;
        min-height: 100vh;
        position: relative;
    
        .card {
            overflow: hidden;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: space-between;
            width: 70%;
            height: 400px;
            border-radius: 10px;
            background-color: $card-background;

            .card-description {
                text-align: start;
                padding: 5%;
                width: 45%;
                display: flex;
                flex-direction: column;

                h1 {
                    font-family: $font-title;
                    color: $head-text;

                  span{
                      color: $insight-text;
                  }

                }

                #card-dsc {
                    margin-top: 5%;
                    color: $paragraph-text;
                    font-family: $font-dsc;
                    font-size: small;
                    font-size: 1.5vw;
                }
                #abt {
                    justify-content: space-between;
                    color: white;
                    display: flex;
                    flex-direction: row;
                    margin: 15% 0 15% 0;

                    .abt-card {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        text-align: center;
                        font-size: 1.2vw;
                        padding: 5px;

                        .d-title{
                            font-family: $font-title;
                            color: $insight-text;
                        }
    
                        .d-dsc {
                            font-family: $font-dsc;
                            color: $paragraph-text;
                            margin-top: 20%;
                            margin: 5px;
                        }
                    }
                }
            }

            .card-image {
                overflow: hidden;

                img {
                    border-radius: 0 10px 10px 0;
                }
            }

        }

        footer{
            position: absolute;
            color: white;
            bottom: 5px;
            left: 50%;
            transform: translatex(-50%);
            font-family: 'Poppins', sans-serif;

            a{
            text-decoration: none;
            color: $insight-text;
            }
        }
    }
}

